/* Estilos Globais */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/chessboardjs/img/assets/chess.jpg') center/cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  color: white;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header-title {
  font-size: 3rem;
  margin: 0;
  color: #f0f0f0;
}

.header-description {
  font-size: 1.2rem;
  color: #cccccc;
}

.chessboard-container {
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centraliza os botões */
  gap: 15px; /* Espaçamento entre os botões */
  margin-top: 20px; /* Adiciona espaço entre o tabuleiro e os botões */
}

.green-button {
  background-color: #8b5e3c; /* Cor marrom elegante */
  color: #f5e8d0; /* Texto bege suave */
  padding: 10px 20px;
  border: none;
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.green-button:hover {
  background-color: #734d31; /* Um tom de marrom mais escuro no hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Aumentar a sombra ao passar o mouse */
}

.green-button:active {
  background-color: #5e3c20; /* Marrom mais intenso ao clicar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduzir a sombra ao clicar */
}

.green-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(245, 232, 208, 0.5); /* Sombra clara para foco */
}

.future-features {
  text-align: center;
  margin-top: 20px;
}

.future-features h2 {
  font-size: 1.8rem;
  color: #f0f0f0;
}

.future-features li {
  font-size: 1.2rem;
  color: #cccccc;
  margin: 10px 0;
}

.footer {
  text-align: center;
  margin-top: 40px;
  color: #cccccc;
  font-size: 0.9rem;
}
