body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/chessboardjs/img/assets/chess.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 40px;
  max-width: 100%;
}

.chessboard-container {
  margin-bottom: 40px;
  max-width: 100%;
}

.button-container {
  display: flex;
  justify-content: center; 
  gap: 15px;
  margin-top: 20px;

.green-button {
  background-color: #8b5e3c;
  color: #f5e8d0;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.green-button:hover {
  background-color: #734d31;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.green-button:active {
  background-color: #5e3c20;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.green-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(245, 232, 208, 0.5);

.future-features {
  text-align: center;
  margin-top: 20px;
}

.future-features h2 {
  font-size: 1.8rem;
  color: #f0f0f0;
}

.future-features li {
  font-size: 1.2rem;
  color: #cccccc;
  margin: 10px 0;
}

.footer {
  background-color: #ddc7a1c7;
  color: #333;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  position: relative;
  width: 100%;
  max-width: 100%;
}

button {
  background-color: #8b5e3c;
  color: #f5e8d0; 
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #734d31;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

button:active {
  background-color: #5e3c20;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(245, 232, 208, 0.5);
}

.button-container, .fen-container, .opening-section, .chequemate-section {
  margin-top: 20px;
}

.opening-section button, .chequemate-section button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
